*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  
}

body{
  background: black;
}

main.mbody_1{
  color: #e07d00;
  text-align: center;
  background:#000;
  background-size: cover;
  width:100%;
  height:100vh;
}

.mbody_1 > h1{
  margin: 16px auto;
  border:5px solid #888;
  padding:.5rem;
  line-height:3rem;
  border-radius: 1rem;
  width:85%;
}

.mbody_1 > p1{
  width:45px;
  border-radius:1rem;
  text-align: center;
  padding:.5rem;
  font-size:3rem;
  font-weight: 850;
  line-height:2.5rem;
}

#btn_cont{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

#btn_cont>button{
  border-radius:1rem;
  font-weight:bold;
  height:3rem;
  width:30%;
}

#save_btn{
  color: #e07d00;
  border-radius:1rem;
  font-weight:bold;
  height:3rem;
  width:50%;
}

#increment_btn{
  color: #e07d00;
  background:whitesmoke;
}

#increment_btn:hover{
  background:green;
  color:black;
}

#decrement_btn{
  color: #e07d00;
  background:whitesmoke;
}
#decrement_btn:hover{
  background:red;
  color:black;
}
#save_btn{
  background:whi;
  margin:1rem;
}

#save_el{
  font-weight:800;
  margin: 1rem;
  padd
}
