*{
  margin :0;
  padding:0;
  box-sizing: border-box;
}

body{
  margin:1rem;
  background:#999;
}

section, div {
  border-radius:1.5rem;
}

#main{
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  border:5px solid black;
}

#cont_el{
  padding:.5rem;
}
#cont_el, #btns {
  color: #eb6800;
  border: 5px solid #eb6800;
  background: #000;
  width:300px;
  margin:1rem auto;
}

#cont_el {
  display:flex;
  place-items: center;
  justify-content: ;: center;
  flex-flow: row wrap;
  height:200px;
}

#btns{
  display: flex;
  height:70px;
  place-content: center;
}

button{
  width:60px;
  height: auto;
  border-radius: 1.5rem;
  color:#eb6800;
  margin:1rem;
}